.button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 12px;
    border: 2px solid var(--border-color-secondary);
    background: var(--bg-quintenary);
    color: var(--font-quinternary);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    cursor: pointer;
}

.button:hover {
    opacity: .7;
}

.specialButton {
    background: var(--bg-quaternary);
    color: var(--font-quaternary);
}
